.y-profile
  display: grid
  grid-template-columns: 1fr
  justify-content: center
  align-items: center
  width: 100%
  min-width: 510px
  max-width: 510px
  &__back
    position: fixed
    top: 0
    left: 0
    display: grid
    grid-template-columns: 1fr
    grid-auto-rows: 1fr
    align-content: center
    justify-content: center
    width: 64px
    height: 100%
    background-color: var(--content-color)
    border-right: 1px solid var(--border-color)
    cursor: pointer
    .y-btn-back
      height: 100%
      &:hover
        background-color: var(--hover-color)
  &__avatar
    margin-bottom: 61px
  &__content
    display: grid
    grid-template-columns: 1fr
    width: 100%
    .y-field-profile
      &-text
        display: grid
        grid-template-columns: repeat(2, max-content)
        justify-content: space-between
        align-items: center
        height: 33px
        border-bottom: 1px solid var(--border-color)
        .description
          color: var(--description-color)
        &:nth-child(7)
          border-bottom: 0
      &-control
        height: 33px
        text-align: right
        font-weight: 500
        color: var(--description-color)
  &__data
    margin-bottom: 60px
  &__action
    display: grid
    grid-template-columns: max-content
    justify-content: center
    .y-btn
      min-width: 280px
      text-align: center
    &__list
      display: grid
      grid-template-columns: 1fr
    &-item
      display: grid
      grid-template-columns: max-content
      text-align: left
      align-items: center
      height: 33px
      border-bottom: 1px solid var(--border-color)
      &:last-child
        border-bottom: 0
      #exit
        color: var(--error-color)
