.y-user-avatar
  display: grid
  grid-template-columns: max-content
  grid-auto-rows: max-content
  justify-content: center
  grid-gap: 21px
  &__img
    width: 130px
    height: 130px
    border-radius: 50%
    background-color: var(--input-color)
  &__name
    font-size: 16px
    text-align: center
