.y-error-page,
.y-error-page
  display: grid
  grid-template-columns: max-content
  grid-template-rows: repeat(3, max-content)
  align-content: center
  justify-content: center
  &__error,
  &__message,
  .text-link
    text-align: center
  &__error
    margin-bottom: 20px
  &__message
    margin-bottom: 69px
