.y-contact-item
  display: grid
  grid-template-columns: max-content 1fr max-content
  grid-gap: 10px
  height: 71px
  padding: 12px 0
  box-sizing: border-box
  border-bottom: 1px solid var(--border-color)
  transition: 0.3s
  cursor: pointer
  &:hover
    background-color: var(--background-layout-color)
  &__avatar
    width: 41px
    height: 41px
    border-radius: 50%
    background-color: var( --input-color)
    img
      width: 41px
      height: 41px
      border-radius: 50%
  &__data
    display: grid
    grid-template-columns: 1fr
    grid-gap: 4px
  &__description
    overflow: hidden
    height: 30px
    margin: 0
    white-space: normal
    text-overflow: ellipsis
    color: var(--description-color)
  &__info
    display: grid
    grid-template-columns: max-content
    justify-content: flex-end
    grid-auto-flow: max-content
  &__date-time
    display: grid
    width: max-content
    font-size: 9px
    color: var(--description-color)
  &__notification-count
    display: grid
    width: 20px
    height: 20px
    text-align: center
    line-height: 20px
    font-size: 11px
    color: var(--notification-text-color)
    border-radius: 50%
    background-color: var(--primary-color)
  &.is-selected
    background-color: var(--hover-color)
