.y-search-panel
  position: relative
  display: grid
  grid-template-columns: 1fr
  justify-content: flex-end
  height: 81px
  padding: 35px 0 0 0
  box-sizing: border-box
  border-bottom: 1px solid var(--border-color)
  width: 100%
  a
    position: absolute
    right: 0
    width: max-content
    color: var(--description-color)
    &:after
      content:'>'