
button  
  padding: 0
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer


.y-btn
  height: 37px
  padding: 12px 0
  box-sizing: border-box
  font-family: 'Inter'
  font-style: normal
  font-weight: 500
  font-size: 13px
  line-height: 13px
  text-align: center
  background: #3369F3
  border-radius: 8px
  color: #FFFFFF

.y-btn-send
  border-radius: 50%
  width: 28px
  height: 28px
  line-height: 10px
  background-color: var(--primary-color)
  svg
    width: 28px
    height: 18px
    path
      fill: var(--notification-text-color)