:root
  --default-text-color: #1e1e1e
  --primary-color: #337AB7
  --primary-color-hover: #1a6eb8
  --primary-color-lite: #6ebeff
  --error-color: #ff2f2f
  --description-color: #999999
  --border-color: #eaeaea
  --input-color: #efefef
  --content-color: #fbfbfb
  --background-color: #ffffff
  --background-layout-color: #e5e5e5
  --notification-text-color: #ffffff
  --message-color: #f8f8f8
  --message-mine-color: #a8cdee
  --hover-color: #a1ccf386
  --focus-color: #f0f8ff
