.y-field-text
  position: relative
  display: grid
  grid-template-columns: 1fr
  font-size: 9px
  line-height: 9px
  color: var(--description-color)

.y-field-error
  white-space: wrap
  color: var(--error-color)